@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calling WebAPI from MVC</h1>
    <p class="lead">Enter an id below (numbers only):</p>
    <p><input type="text" id="ProductId"/> <input type="button" id="GetProductAction" class="btn btn-primary" value="Get Product"/></p>
</div>
