@model Levelnis.Learning.CallingWebApiFromMvc.Web.Models.ProductViewModel

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<ul>
    <li>ID: @Model.ProductId</li>
    <li>Name: @Model.Name</li>
    <li>Description: @Model.Description</li>
    <li>Created: @Model.CreatedOn</li>
</ul>